@import 'normalize';
@import 'reset';

$splash-bg: #FEFDFC;
$sacral: #FF5416;
$root: #E8112D;
$solar: #F99B0C;
$heart: #BAD80A;
$throat: #35C4AF;
$third: #1F8596;
$crown: #58355E;
$splash-font: 'Poiret One', cursive;
$q-font: 'Montserrat', sans-serif;

*:focus {
  outline: none;
}

body {
  position: relative;
}

.q, .tuning, .splash {
  // display: none;
}



.center {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  width: 70%;
}

.splash-position {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
  width: 70%;
}

.txt {
  font-size: 200%;
  color: #FFF;
  text-shadow: 0px 2px 2px rgba(0,0,0,.3);
  line-height: 37px;
  font-family: $q-font;
  font-weight: 400;
}

.splash-txt {
  font-family: $splash-font;
  font-size: 550%;
  color: #000;
  text-shadow: 0px 2px 2px rgba(0,0,0,.3);
  line-height: 90px;
}

.splash {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $splash-bg;
  z-index: 20;
  .note {
    height: 0;
    width: 0;
  }
}

.icons {
  position: absolute;
  bottom: 15%;
  left: 50%;
  width: 80%;
  height: 50px;
  transform: translate(-50%, 0%);
  // margin: 0 auto;
  color: #fff;
  font-size: 20px;

  transition: all ease-out .3s;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  .icon {
    align-self: center;
    font-size: 40px;
    display: inline-block;
    transition: all ease-out .3s;
    display: flex;
    flex-direction: column;
    text-align: center;

  }
}



.note {
  opacity: 0;
  padding-top: 5px;
  font-size: 5px;
  font-family: $q-font;
  text-shadow: 0px 1px 1px rgba(0,0,0,.3);
  transition: all ease-out .3s;
}


.card {
  border-radius: 2px;
  box-shadow: 0px 2px 5px rgba(0,0,0,.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: all ease-out .5s;
}

.tuning {
  font-family: $q-font;
  color: #FFF;
  text-shadow: 0px 1px 1px rgba(0,0,0,.3);
  font-size: 30px;
  background-color: #333;
  text-align: center;
  transition: all ease-out .5s;
  transition-delay: 2s;
  span {
    width: 100%;
  }
  .top {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
  }
  .bottom {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
  }
}

.disappear {
  opacity: 0;
  transform: rotate(-25deg);
  left: -150%;
}

.input {
  text-align: center;
  background-color: #333;
  text-align: center;
  z-index: 5;
  span {
    width: 100%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
    font-family: $q-font;
    color: #FFF;
    text-shadow: 0px 1px 1px rgba(0,0,0,.3);
    font-size: 30px;
  }
  form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    input {
      width: 250px;
      margin: 10px 0;
      padding: 10px;
      border-radius: 3px;
      border: 1px solid #888;
      box-shadow: inset 0 0 10px 2px rgba(136, 136, 136, .5);
      &::placeholder {
        font-family: $q-font;
        color: #999;
      }
    }

  }
  .submit {
    width: 100px;
  }

}

.thanks {
  z-index: 4;
  text-align: center;
  background-color: #333;
  text-align: center;
  .thank-you, .love {
    width: 100%;
    position: absolute;


    font-family: $q-font;
    color: #FFF;
    text-shadow: 0px 1px 1px rgba(0,0,0,.3);
    font-size: 30px;
  }
  .thank-you {
    top: 15%;
    left: 50%;
    transform: translate(-50%, -15%);
  }
  .love {
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
  }
  .addthis {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.sacral {
  background-color: $sacral;
}

.root {
  background-color: $root;
}

.solar {
  background-color: $solar;
}

.heart {
  background-color: $heart;
}

.throat {
  background-color: $throat;
}

.third {
  background-color: $third;
}

.crown {
  background-color: $crown;
}


.q1 {
  z-index: 19;
}

.q2 {
  z-index: 18;
}

.q3 {
  z-index: 17;
}

.q4 {
  z-index: 16;
}

.q5 {
  z-index: 15;
}

.q6 {
  z-index: 14;
}

.q7 {
  z-index: 13;
}

.q8 {
  z-index: 12;
}

.q9 {
  z-index: 11;
}

.q10 {
  z-index: 10;
}

.q11 {
  z-index: 9;
}

.q12 {
  z-index: 8;
}

.q13 {
  z-index: 7;
}

.q14 {
  z-index: 6;
}
